.popup__txtinput {
  width: 358px;
  height: 27px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;
  align-self: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
  margin-top: 30px;
}

.popup__txtinput:first-of-type {
  margin-top: 54px;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  .popup__txtinput {
    width: 238px;
  }

  .popup__txtinput:first-of-type {
    margin-top: 75px;
  }

}