.profile-info {
  position: relative;
  max-width: 500px;
  padding-left: 30px;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
 .profile-info {
    margin: 26px 0 36px;
    width: calc(100% - 19px * 2);
    padding: 0;
 } 
}